<mat-card class="card" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title
      [ngStyle]="{ color: this.product.color }"
      style="text-transform: uppercase; font-weight: bold;"
      fxLayout="space-around"
      >{{ product.title }}</mat-card-title
    >
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <p>
      {{ product.text }}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center end">
    <button mat-stroked-button [ngStyle]="{ color: this.product.color }">
      Saiba mais
    </button>
  </mat-card-actions>
</mat-card>
