footer {
  height: 250px;
  position: relative;
  bottom: 0;
  color: #b3bdcc;
  margin-top: 10px;
}

h2 {
  text-align: left;
}

p {
  text-align: center;
}

fa-icon {
  margin-left: 3px;
  margin-right: 3px;
}

#contact {
  height: 35px;
}

#mailIco {
  margin-right: 6px;
}

.contactInfo {
  padding-left: 10px;
  padding-right: 10px;
}

.footerContainer {
  padding-bottom: 40px;
}
