.spacer {
  flex: 1 1 auto;
}

.btnEntrar {
  margin: 5px;
  height: 36px;
  color: #2196f3;
}

.btnCadastro {
  background: #1767e5 0% 0% no-repeat padding-box;
  color: white;
  margin: 5px;
  height: 36px;
}
