<div class="signUpContainer" fxLayout="row" fxLayoutAlign="center end">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="40%"
    fxFlex.sm="90%"
    fxFlex.xs="95%"
  >
    <mat-card class="card cardSignUp">
      <mat-card-header fxLayout="row" fxLayoutAlign="center">
        <mat-card-title class="cardTitle"
          >Ainda não é assinante?</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p class="cardText">
          Cadastre-se gratuitamente e descubra como vários de profissionais da
          área da saúde estão aprimorando seus estudos através do método
          inovador SimSave.
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center end">
        <button
          mat-button
          class="btnSignUp"
          routerLink="/login"
          routerLinkActive="active"
        >
          Cadastre-se
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
